* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}

body {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(112, 107, 107), rgb(120, 117, 117));

}

.calculator {
    border: 2px solid rgb(220, 210, 210);
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(18, 19, 22, 0.5);
}

input {
    width: 80vh;
    border: none;
    padding: 6px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(70, 60, 60);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    background-color: #f2e7e7;
}

input::placeholder {
    background-color: #f3ebeb;
}

button {
    border: none;
    width: 60px;
    height: 28px;
    border-radius: 50px;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color:rgb(231, 140, 29) ;
}

.oprator{
    background-color:rgb(71, 228, 103);
}