* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(122, 116, 116), rgb(107, 88, 88));
}

.calculator {
    border: 2px solid #454568;
    padding: 5px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(68, 68, 70, 0.5);
}

input {
    width: 90%;
    border: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 20px;
    text-align: right;
    cursor: pointer;
    color: white;
}

input::placeholder {
    color: #ffffff;
}

button {
    border: none;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 20px;
    background: transparent;
    color: #834d4d;
    font-size: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    color: #ffffff;
}

.equalBtn{
    background-color: rgb(193, 117, 24);
}

.oprator{
    background-color: rgb(68, 192, 68);

}

@media (max-width: 480px) {
    .calculator {
        width: 100%;
        padding: 15px;
    }

    input {
        height: 60px;
        font-size: 24px;
    }

    button {
        height: 45px;
        font-size: 16px;
    }
}